In [2]:
import pandas as pd
import glob
import os

In [9]:
path = r'C:\Users\shabe\NFL_Files\ML1030' # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

raw_data = pd.concat(li, axis=0, ignore_index=True)

In [10]:
raw_data.head()

,Date,Book,Away Moneyline,Home Moneyline,Away Pointspread points,Away Pointspread odds,Home Pointspread points,Home Pointspread odds,Total points,Over odds,Under odds
0,Mon Sep 17 2018 00:43:34 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
1,Mon Sep 17 2018 01:43:35 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
2,Mon Sep 17 2018 02:43:34 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
3,Mon Sep 17 2018 03:43:35 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
4,Mon Sep 17 2018 04:43:35 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0

In [14]:
import datetime
datee = datetime.datetime.strptime(raw_data.Date, "%Y-%m-%d")

TypeError: strptime() argument 1 must be str, not Series

In [11]:
sportsbook_data = pd.read_csv (r'C:\Users\shabe\all_data.csv')
sportsbook_data.head()

,Unnamed: 0,Date,Book,Away Moneyline,Home Moneyline,Away Pointspread points,Away Pointspread odds,Home Pointspread points,Home Pointspread odds,Total points,Over odds,Under odds,Away,Home,Game,Game Number
0,0,Sun Sep 02 2018 15:37:47 GMT+0000 (UTC),AlfaBook,115,-135,2.5,-110.0,-2.5,-110.0,45.5,-108.0,-112.0,ATL,PHI,ATL@PHI,1
1,1,Thu Aug 30 2018 20:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-119.0,-3,-101.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1
2,2,Thu Aug 30 2018 21:54:19 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1
3,3,Thu Aug 30 2018 22:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1
4,4,Thu Aug 30 2018 23:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1

In [12]:
import pytz

sportsbook_data['GMT_Time'] =  pd.to_datetime(sportsbook_data.Date.str.slice(0,24), format='%a %b %d %Y %H:%M:%S')

eastern = pytz.timezone('US/Eastern')

sportsbook_data['EST_Time'] = pd.DatetimeIndex(sportsbook_data['GMT_Time']).tz_localize(pytz.utc).tz_convert(eastern)
sportsbook_data.head()

,Unnamed: 0,Date,Book,Away Moneyline,Home Moneyline,Away Pointspread points,Away Pointspread odds,Home Pointspread points,Home Pointspread odds,Total points,Over odds,Under odds,Away,Home,Game,Game Number,GMT_Time,EST_Time
0,0,Sun Sep 02 2018 15:37:47 GMT+0000 (UTC),AlfaBook,115,-135,2.5,-110.0,-2.5,-110.0,45.5,-108.0,-112.0,ATL,PHI,ATL@PHI,1,2018-09-02 15:37:47,2018-09-02 11:37:47-04:00
1,1,Thu Aug 30 2018 20:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-119.0,-3,-101.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1,2018-08-30 20:54:20,2018-08-30 16:54:20-04:00
2,2,Thu Aug 30 2018 21:54:19 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1,2018-08-30 21:54:19,2018-08-30 17:54:19-04:00
3,3,Thu Aug 30 2018 22:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1,2018-08-30 22:54:20,2018-08-30 18:54:20-04:00
4,4,Thu Aug 30 2018 23:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1,2018-08-30 23:54:20,2018-08-30 19:54:20-04:00

In [45]:
#1. Analysis of Odds Movement:
#a. Which sportsbooks tend to move the odds the most?
analysis_data = sportsbook_data
max=sportsbook_data.groupby('Book', as_index=False).agg({"Away Pointspread odds": "max"})
min=sportsbook_data.groupby('Book', as_index=False).agg({"Away Pointspread odds": "min"})

range = sportsbook_data.groupby('Book').apply(lambda x: x["Away Pointspread odds"].max() - x["Away Pointspread odds"].min())

#def get_stats(group):
#    return {'min': group.min(), 'max': group.max(), 'count': group.count(), 'mean': group.mean()}

#sportsbook_data['Book'].groupby(df['Away Pointspread odds']).apply(get_stats).unstack()

#range = max - min
print(max)
print (min)
print (range)
#b. What is the frequency of the moves per game? Determine the average per match for each of the major sports.
#c. How did the odds open and close for each game?
#d. What changes took place within the spread, over/under and total for each game?

           Book  Away Pointspread odds
0      AlfaBook                  118.0
1     BetOnline                  102.0
2     BravoBook                  114.0
3   CharlieBook                  115.0
4   Charliebook                  100.0
5     DeltaBook                  115.0
6     Deltabook                  100.0
7      EchoBook                  118.0
8      GolfBook                  100.0
9     HotelBook                  110.0
10    IndiaBook                  220.0
11    Indiabook                  100.0
12  Juilettbook                 -105.0
13  JuliettBook                  120.0
14  Juliettbook                  105.0
15     KiloBook                  120.0
16     LimaBook                  114.0
17     MikeBook                  125.0
18     Mikebook                  100.0
19  MyBookie.ag                  105.0
20         XBet                  105.0
           Book  Away Pointspread odds
0      AlfaBook                 -135.0
1     BetOnline                 -115.0
2     BravoBook                 -128.0
3   CharlieBook                 -140.0
4   Charliebook                 -125.0
5     DeltaBook                 -132.0
6     Deltabook                 -120.0
7      EchoBook                 -135.0
8      GolfBook                 -110.0
9     HotelBook                 -141.0
10    IndiaBook                 -360.0
11    Indiabook                 -120.0
12  Juilettbook                 -120.0
13  JuliettBook                 -125.0
14  Juliettbook                 -115.0
15     KiloBook                 -125.0
16     LimaBook                 -154.0
17     MikeBook                 -167.0
18     Mikebook                 -124.0
19  MyBookie.ag                 -115.0
20         XBet                 -125.0
Book
AlfaBook       253.0
BetOnline      217.0
BravoBook      242.0
CharlieBook    255.0
Charliebook    225.0
DeltaBook      247.0
Deltabook      220.0
EchoBook       253.0
GolfBook       210.0
HotelBook      251.0
IndiaBook      580.0
Indiabook      220.0
Juilettbook     15.0
JuliettBook    245.0
Juliettbook    220.0
KiloBook       245.0
LimaBook       268.0
MikeBook       292.0
Mikebook       224.0
MyBookie.ag    220.0
XBet           230.0
dtype: float64