In [2]:
import pandas as pd
import glob
import os

In [9]:
path = r'C:\Users\shabe\NFL_Files\ML1030' # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

raw_data = pd.concat(li, axis=0, ignore_index=True)

In [10]:
raw_data.head()

,Date,Book,Away Moneyline,Home Moneyline,Away Pointspread points,Away Pointspread odds,Home Pointspread points,Home Pointspread odds,Total points,Over odds,Under odds
0,Mon Sep 17 2018 00:43:34 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
1,Mon Sep 17 2018 01:43:35 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
2,Mon Sep 17 2018 02:43:34 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
3,Mon Sep 17 2018 03:43:35 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
4,Mon Sep 17 2018 04:43:35 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0

In [14]:
import datetime
datee = datetime.datetime.strptime(raw_data.Date, "%Y-%m-%d")

TypeError: strptime() argument 1 must be str, not Series

In [11]:
sportsbook_data = pd.read_csv (r'C:\Users\shabe\all_data.csv')
sportsbook_data.head()

,Unnamed: 0,Date,Book,Away Moneyline,Home Moneyline,Away Pointspread points,Away Pointspread odds,Home Pointspread points,Home Pointspread odds,Total points,Over odds,Under odds,Away,Home,Game,Game Number
0,0,Sun Sep 02 2018 15:37:47 GMT+0000 (UTC),AlfaBook,115,-135,2.5,-110.0,-2.5,-110.0,45.5,-108.0,-112.0,ATL,PHI,ATL@PHI,1
1,1,Thu Aug 30 2018 20:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-119.0,-3,-101.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1
2,2,Thu Aug 30 2018 21:54:19 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1
3,3,Thu Aug 30 2018 22:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1
4,4,Thu Aug 30 2018 23:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1

In [12]:
import pytz

sportsbook_data['GMT_Time'] =  pd.to_datetime(sportsbook_data.Date.str.slice(0,24), format='%a %b %d %Y %H:%M:%S')

eastern = pytz.timezone('US/Eastern')

sportsbook_data['EST_Time'] = pd.DatetimeIndex(sportsbook_data['GMT_Time']).tz_localize(pytz.utc).tz_convert(eastern)
sportsbook_data.head()

,Unnamed: 0,Date,Book,Away Moneyline,Home Moneyline,Away Pointspread points,Away Pointspread odds,Home Pointspread points,Home Pointspread odds,Total points,Over odds,Under odds,Away,Home,Game,Game Number,GMT_Time,EST_Time
0,0,Sun Sep 02 2018 15:37:47 GMT+0000 (UTC),AlfaBook,115,-135,2.5,-110.0,-2.5,-110.0,45.5,-108.0,-112.0,ATL,PHI,ATL@PHI,1,2018-09-02 15:37:47,2018-09-02 11:37:47-04:00
1,1,Thu Aug 30 2018 20:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-119.0,-3,-101.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1,2018-08-30 20:54:20,2018-08-30 16:54:20-04:00
2,2,Thu Aug 30 2018 21:54:19 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1,2018-08-30 21:54:19,2018-08-30 17:54:19-04:00
3,3,Thu Aug 30 2018 22:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1,2018-08-30 22:54:20,2018-08-30 18:54:20-04:00
4,4,Thu Aug 30 2018 23:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1,2018-08-30 23:54:20,2018-08-30 19:54:20-04:00

In [74]:
import pandas as pd
import glob
import os
sportsbook_data = pd.read_csv (r'C:\Users\shabe\sportsbook_data_ALL_with_Juice.csv')
#checking if the import worked
sportsbook_data.head()
pregame_data = sportsbook_data.loc[(sportsbook_data.PreGame==True)]
#checking if the subset worked
pregame_data.head()
#1. Analysis of Odds Movement:
#a. Which sportsbooks tend to move the odds the most?
home_analysis_data = pregame_data[['Book', 'Home_x','Game', 'Home Moneyline','Home Pointspread points','Home Pointspread odds']]
home_analysis_data.head()
home_analysis_data["Home Moneyline"] = pd.to_numeric(home_analysis_data["Home Moneyline"],errors='coerce')
home_analysis_data["Home Pointspread points"] = pd.to_numeric(home_analysis_data["Home Pointspread points"],errors='coerce')
home_analysis_data.dtypes
home_std_dev = home_analysis_data.groupby(['Book','Home_x']).agg({'Home Moneyline':'std',
                                                                  'Home Pointspread points':'std',
                                                                  'Home Pointspread odds':'std'})
home_std_dev.head()

away_analysis_data = pregame_data[['Book', 'Away_x','Game', 'Away Moneyline','Away Pointspread points','Away Pointspread odds',]]
away_analysis_data.head()
away_analysis_data["Away Moneyline"] = pd.to_numeric(away_analysis_data["Away Moneyline"],errors='coerce')
away_analysis_data["Away Pointspread points"] = pd.to_numeric(away_analysis_data["Away Pointspread points"],errors='coerce')
away_analysis_data.dtypes
away_std_dev = away_analysis_data.groupby(['Book','Away_x']).agg({'Away Moneyline':'std',
                                                                  'Away Pointspread points':'std',
                                                                  'Away Pointspread odds':'std'})
away_std_dev.head()


#b. What is the frequency of the moves per game? Determine the average per match for each of the major sports.
home_unique_count= home_analysis_data.groupby(['Book','Game'])['Home Moneyline'].nunique()
print (home_unique_count)
away_unique_count= away_analysis_data.groupby(['Book','Game'])['Away Moneyline'].nunique()
print (away_unique_count)
#c. How did the odds open and close for each game?
#d. What changes took place within the spread, over/under and total for each game?
#Calculating spread of home and away 
home_spread_analysis = pregame_data[['Book', 'Home_x','Game', 'PtsW','PtsL','Over odds', 'Under odds','Total points']]
away_spread_analysis = pregame_data[['Book', 'Away_x','Game', 'PtsW','PtsL','Over odds', 'Under odds','Total points']]
home_spread_analysis['spread'] = home_spread_analysis['PtsW'] - home_spread_analysis['PtsL']
away_spread_analysis['spread'] = away_spread_analysis['PtsW'] - away_spread_analysis['PtsL']

home_spread_min =pd.DataFrame()
home_spread_med =pd.DataFrame()
home_spread_max =pd.DataFrame()

home_spread_min= home_spread_analysis.groupby(['Book','Game']).agg({'spread':'min'})
home_spread_med= home_spread_analysis.groupby(['Book','Game']).agg({'spread':'median'})
home_spread_max= home_spread_analysis.groupby(['Book','Game']).agg({'spread':'max'})

home_spread_min.head()
home_spread_med.head()
home_spread_max.head()

C:\Users\shabe\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\shabe\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\shabe\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shabe\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Book         Game
alfabook     ARI@ATL     7
             ARI@KC      5
             ARI@MIN     5
             ARI@SEA     3
             ARI@SF      6
             ATL@CAR    10
             ATL@CLE     8
             ATL@GB     11
             ATL@PHI    10
             ATL@PIT     5
             ATL@TB      6
             ATL@WAS     9
             BAL@ATL     8
             BAL@CAR     6
             BAL@CLE     9
             BAL@KC      7
             BAL@PIT     2
             BUF@BAL     7
             BUF@GB      2
             BUF@HOU     5
             BUF@IND     6
             BUF@NE      8
             BUF@NYJ    11
             CAR@CLE     9
             CAR@NO      6
             CAR@PIT    12
             CAR@TB      6
             CAR@WAS     8
             CHI@ARI     8
             CHI@BUF     6
                        ..
mikebook     SEA@OAK     6
             SEA@SF     10
             SF@ARI      2
             SF@GB       5
             SF@KC       0
             SF@LAC      0
             SF@LAR      5
             SF@MIN      0
             TB@ATL      7
             TB@BAL      7
             TB@CAR      8
             TB@CHI      0
             TB@CIN      3
             TB@DAL      4
             TB@NO       0
             TEN@BUF     4
             TEN@DAL     8
             TEN@HOU     9
             TEN@JAC     0
             TEN@MIA     0
             TEN@NYG    12
             WAS@ARI     0
             WAS@JAC     3
             WAS@NO      2
             WAS@NYG     2
             WAS@PHI     4
             WAS@TB      8
mybookie.ag  BUF@BAL    13
xbet         CIN@IND     8
             WAS@ARI     1
Name: Home Moneyline, Length: 1776, dtype: int64
Book         Game
alfabook     ARI@ATL     7
             ARI@KC      5
             ARI@MIN     5
             ARI@SEA     3
             ARI@SF      6
             ATL@CAR    10
             ATL@CLE     8
             ATL@GB     11
             ATL@PHI    10
             ATL@PIT     5
             ATL@TB      6
             ATL@WAS     9
             BAL@ATL     8
             BAL@CAR     6
             BAL@CLE     9
             BAL@KC      7
             BAL@PIT     2
             BUF@BAL     7
             BUF@GB      2
             BUF@HOU     5
             BUF@IND     6
             BUF@NE      8
             BUF@NYJ     9
             CAR@CLE     9
             CAR@NO      6
             CAR@PIT    12
             CAR@TB      6
             CAR@WAS     8
             CHI@ARI     8
             CHI@BUF     6
                        ..
mikebook     SEA@OAK     7
             SEA@SF      9
             SF@ARI      2
             SF@GB       6
             SF@KC       0
             SF@LAC      0
             SF@LAR      8
             SF@MIN      0
             TB@ATL      6
             TB@BAL      7
             TB@CAR      8
             TB@CHI      0
             TB@CIN      3
             TB@DAL      4
             TB@NO       0
             TEN@BUF     5
             TEN@DAL     8
             TEN@HOU     9
             TEN@JAC     0
             TEN@MIA     0
             TEN@NYG    10
             WAS@ARI     0
             WAS@JAC     3
             WAS@NO      3
             WAS@NYG     2
             WAS@PHI     6
             WAS@TB      8
mybookie.ag  BUF@BAL    13
xbet         CIN@IND     8
             WAS@ARI     1
Name: Away Moneyline, Length: 1776, dtype: int64

C:\Users\shabe\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shabe\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                  spread
Book     Game
alfabook ARI@ATL      26
         ARI@KC       12
         ARI@MIN      10
         ARI@SEA       3
         ARI@SF       10

In [78]:
home_spread_max.head()

                  spread
Book     Game
alfabook ARI@ATL      26
         ARI@KC       12
         ARI@MIN      10
         ARI@SEA       3
         ARI@SF       10

In [76]:
home_spread_min.head()

                  spread
Book     Game
alfabook ARI@ATL      26
         ARI@KC       12
         ARI@MIN      10
         ARI@SEA       3
         ARI@SF       10

In [77]:
home_spread_med.head()

                  spread
Book     Game
alfabook ARI@ATL      26
         ARI@KC       12
         ARI@MIN      10
         ARI@SEA       3
         ARI@SF       10