In [8]:
import pandas as pd
import glob
import os

In [9]:
path = r'C:\Users\shabe\NFL_Files\ML1030' # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

raw_data = pd.concat(li, axis=0, ignore_index=True)

In [10]:
raw_data.head()

,Date,Book,Away Moneyline,Home Moneyline,Away Pointspread points,Away Pointspread odds,Home Pointspread points,Home Pointspread odds,Total points,Over odds,Under odds
0,Mon Sep 17 2018 00:43:34 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
1,Mon Sep 17 2018 01:43:35 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
2,Mon Sep 17 2018 02:43:34 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
3,Mon Sep 17 2018 03:43:35 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0
4,Mon Sep 17 2018 04:43:35 GMT+0000 (UTC),BravoBook,NaN,NaN,6,-110.0,-6,-110.0,54.5,-115.0,-105.0

In [14]:
import datetime
datee = datetime.datetime.strptime(raw_data.Date, "%Y-%m-%d")

TypeError: strptime() argument 1 must be str, not Series