In [228]:
import pandas as pd
from datetime import datetime
from pytz import timezone
import pytz
import glob
import os
import re

In [229]:
game_list_file = r'C:\Users\benny\OneDrive\Machine Learning\ML1030\Final Project\Final Project\games.csv'
NFL_teams_file = r'C:\Users\benny\OneDrive\Machine Learning\ML1030\Final Project\Final Project\NFLTeamAbbreviations.xlsx'
nfl_game_schedule = pd.read_csv(game_list_file)
print(nfl_game_schedule.head())
nfl_team_names = pd.read_excel(NFL_teams_file)
print(nfl_team_names.head())

   Week  Day    Date    Time            Winner/tie   At            Loser/tie  \
0     1  Thu  06-Sep  8:20PM   Philadelphia Eagles  NaN      Atlanta Falcons
1     1  Sun  09-Sep  1:00PM  Tampa Bay Buccaneers    @   New Orleans Saints
2     1  Sun  09-Sep  1:00PM     Minnesota Vikings  NaN  San Francisco 49ers
3     1  Sun  09-Sep  1:00PM        Miami Dolphins  NaN     Tennessee Titans
4     1  Sun  09-Sep  1:00PM  Jacksonville Jaguars    @      New York Giants

   boxscore  PtsW  PtsL  YdsW  TOW  YdsL  TOL
0  boxscore    18    12   232    2   299    1
1  boxscore    48    40   529    0   475    2
2  boxscore    24    16   343    1   327    4
3  boxscore    27    20   342    2   336    3
4  boxscore    20    15   305    1   324    2
  Acronym          Franchise
0     ARI  Arizona Cardinals
1     ATL    Atlanta Falcons
2     BAL   Baltimore Ravens
3     BUF      Buffalo Bills
4     CAR  Carolina Panthers

In [230]:
eastern = pytz.timezone('US/Eastern')
nfl_game_schedule['Home'] = ""
nfl_game_schedule['Home_abbr'] = ""
nfl_game_schedule['Away'] = ""
nfl_game_schedule['Away_abbr'] = ""
nfl_game_schedule['Game'] = ""
nfl_game_schedule['Game Time'] = ""
for i in nfl_game_schedule.index:
    if nfl_game_schedule.loc[i,'At'] != "@":
        nfl_game_schedule.loc[i,'Home'] = nfl_game_schedule.loc[i,'Winner/tie']
        nfl_game_schedule.loc[i,'Away'] = nfl_game_schedule.loc[i,'Loser/tie']
    else:
        nfl_game_schedule.loc[i,'Away'] = nfl_game_schedule.loc[i,'Winner/tie']
        nfl_game_schedule.loc[i,'Home'] = nfl_game_schedule.loc[i,'Loser/tie']
    df_home = nfl_team_names[nfl_team_names['Franchise'] == nfl_game_schedule.loc[i,'Home']]['Acronym']
    df_away = nfl_team_names[nfl_team_names['Franchise'] == nfl_game_schedule.loc[i,'Away']]['Acronym']
    nfl_game_schedule.loc[i,'Home_abbr'] = df_home.values
    nfl_game_schedule.loc[i,'Away_abbr'] = df_away.values
    nfl_game_schedule.loc[i,'Game'] = df_away.values + "@" + df_home.values
    timestamp_str = nfl_game_schedule.loc[i,'Date'] + "-2018" + " " + nfl_game_schedule.loc[i,'Time']
    nfl_game_schedule.loc[i,'Game Time'] = eastern.localize(datetime.strptime(timestamp_str, '%d-%b-%Y %I:%M%p'),is_dst=True) 
    
nfl_game_schedule['Game Time'] = pd.DatetimeIndex(nfl_game_schedule['Game Time']).tz_convert(eastern)
print(nfl_game_schedule.head())    
nfl_game_schedule.to_csv(export_path+"\\games_data.csv")

   Week  Day    Date    Time            Winner/tie   At            Loser/tie  \
0     1  Thu  06-Sep  8:20PM   Philadelphia Eagles  NaN      Atlanta Falcons
1     1  Sun  09-Sep  1:00PM  Tampa Bay Buccaneers    @   New Orleans Saints
2     1  Sun  09-Sep  1:00PM     Minnesota Vikings  NaN  San Francisco 49ers
3     1  Sun  09-Sep  1:00PM        Miami Dolphins  NaN     Tennessee Titans
4     1  Sun  09-Sep  1:00PM  Jacksonville Jaguars    @      New York Giants

   boxscore  PtsW  PtsL  YdsW  TOW  YdsL  TOL                 Home Home_abbr  \
0  boxscore    18    12   232    2   299    1  Philadelphia Eagles       PHI
1  boxscore    48    40   529    0   475    2   New Orleans Saints        NO
2  boxscore    24    16   343    1   327    4    Minnesota Vikings       MIN
3  boxscore    27    20   342    2   336    3       Miami Dolphins       MIA
4  boxscore    20    15   305    1   324    2      New York Giants       NYG

                   Away Away_abbr     Game                 Game Time
0       Atlanta Falcons       ATL  ATL@PHI 2018-09-06 20:20:00-04:00
1  Tampa Bay Buccaneers        TB    TB@NO 2018-09-09 13:00:00-04:00
2   San Francisco 49ers        SF   SF@MIN 2018-09-09 13:00:00-04:00
3      Tennessee Titans       TEN  TEN@MIA 2018-09-09 13:00:00-04:00
4  Jacksonville Jaguars       JAC  JAC@NYG 2018-09-09 13:00:00-04:00

In [231]:
path = r'C:\Users\benny\OneDrive\Machine Learning\ML1030\Final Project\Final Project\Data' 
all_csv_files = glob.glob(os.path.join(path, "*.csv"))
all_xlsx_files = glob.glob(os.path.join(path, "*.xlsx"))

print(len(all_csv_files))
print(len(all_xlsx_files))

75
101

In [232]:
li_csv = pd.DataFrame()
i = 1

for filename in all_csv_files:
    (head, tail) = os.path.split(filename)
    teams = re.search('NFL-(.+?)-data', tail).group(1)
    #print(tail)
    #print(teams)
    away=teams.split('@')[0]
    home=teams.split('@')[1]
    #print(away)
    #print(home)
    csv_df = pd.read_csv(filename)
    csv_df['Away'] = away
    csv_df['Home'] = home
    csv_df['Game'] = teams
    csv_df['Game Number'] = i
    i = i+1
    li_csv = pd.concat([li_csv,csv_df],sort=None)

print(li_csv.shape)    
    
li_xlsx = pd.DataFrame()

for filename in all_xlsx_files:
    (head, tail) = os.path.split(filename)
    teams = re.search('NFL-(.+?)-data', tail).group(1)
    #print(tail)
    #print(teams)
    away=teams.split('@')[0]
    home=teams.split('@')[1]
    #print(away)
    #print(home)
    xlsx_df = pd.read_excel(filename)
    xlsx_df['Away'] = away
    xlsx_df['Home'] = home
    xlsx_df['Game'] = teams
    xlsx_df['Game Number'] = i
    i = i+1
    li_xlsx = pd.concat([li_xlsx,xlsx_df],sort=None)

print(li_xlsx.shape)

sportsbook_data = pd.concat([li_csv,li_xlsx], sort=None, ignore_index=True)

print(sportsbook_data)

(289758, 15)
(128950, 15)
                                           Date       Book Away Moneyline  \
0       Sun Sep 02 2018 15:37:47 GMT+0000 (UTC)   AlfaBook            115
1       Thu Aug 30 2018 20:54:20 GMT+0000 (UTC)  BravoBook            NaN
2       Thu Aug 30 2018 21:54:19 GMT+0000 (UTC)  BravoBook            NaN
3       Thu Aug 30 2018 22:54:20 GMT+0000 (UTC)  BravoBook            NaN
4       Thu Aug 30 2018 23:54:20 GMT+0000 (UTC)  BravoBook            NaN
5       Fri Aug 31 2018 00:54:20 GMT+0000 (UTC)  BravoBook            NaN
6       Fri Aug 31 2018 13:54:19 GMT+0000 (UTC)  BravoBook            NaN
7       Fri Aug 31 2018 14:54:19 GMT+0000 (UTC)  BravoBook            NaN
8       Fri Aug 31 2018 15:54:20 GMT+0000 (UTC)  BravoBook            NaN
9       Fri Aug 31 2018 16:54:21 GMT+0000 (UTC)  BravoBook            NaN
10      Fri Aug 31 2018 17:54:20 GMT+0000 (UTC)  BravoBook            NaN
11      Fri Aug 31 2018 18:54:20 GMT+0000 (UTC)  BravoBook            NaN
12      Fri Aug 31 2018 19:54:19 GMT+0000 (UTC)  BravoBook            130
13      Fri Aug 31 2018 20:54:20 GMT+0000 (UTC)  BravoBook            130
14      Fri Aug 31 2018 21:54:20 GMT+0000 (UTC)  BravoBook            130
15      Fri Aug 31 2018 22:54:20 GMT+0000 (UTC)  BravoBook            130
16      Fri Aug 31 2018 23:54:21 GMT+0000 (UTC)  BravoBook            130
17      Sat Sep 01 2018 00:54:20 GMT+0000 (UTC)  BravoBook            130
18      Sat Sep 01 2018 01:54:20 GMT+0000 (UTC)  BravoBook            130
19      Sat Sep 01 2018 02:54:20 GMT+0000 (UTC)  BravoBook            130
20      Sat Sep 01 2018 03:54:19 GMT+0000 (UTC)  BravoBook            130
21      Sat Sep 01 2018 04:54:19 GMT+0000 (UTC)  BravoBook            130
22      Sat Sep 01 2018 05:54:19 GMT+0000 (UTC)  BravoBook            130
23      Sat Sep 01 2018 06:54:19 GMT+0000 (UTC)  BravoBook            130
24      Sat Sep 01 2018 07:54:19 GMT+0000 (UTC)  BravoBook            130
25      Sat Sep 01 2018 08:54:19 GMT+0000 (UTC)  BravoBook            130
26      Sat Sep 01 2018 09:54:19 GMT+0000 (UTC)  BravoBook            130
27      Sat Sep 01 2018 10:54:19 GMT+0000 (UTC)  BravoBook            130
28      Sat Sep 01 2018 11:54:19 GMT+0000 (UTC)  BravoBook            130
29      Sat Sep 01 2018 12:54:19 GMT+0000 (UTC)  BravoBook            130
...                                         ...        ...            ...
418678  Sat Dec 29 2018 16:25:45 GMT+0000 (UTC)   AlfaBook            385
418679  Sat Dec 29 2018 17:26:17 GMT+0000 (UTC)   AlfaBook            385
418680  Sat Dec 29 2018 18:25:30 GMT+0000 (UTC)   AlfaBook            385
418681  Sat Dec 29 2018 19:26:03 GMT+0000 (UTC)   AlfaBook            385
418682  Sat Dec 29 2018 20:25:36 GMT+0000 (UTC)   AlfaBook            385
418683  Sat Dec 29 2018 21:25:43 GMT+0000 (UTC)   AlfaBook            385
418684  Sat Dec 29 2018 22:25:59 GMT+0000 (UTC)   AlfaBook            385
418685  Sat Dec 29 2018 23:25:39 GMT+0000 (UTC)   AlfaBook            385
418686  Sun Dec 30 2018 00:25:44 GMT+0000 (UTC)   AlfaBook            385
418687  Sun Dec 30 2018 01:26:05 GMT+0000 (UTC)   AlfaBook            385
418688  Sun Dec 30 2018 02:25:49 GMT+0000 (UTC)   AlfaBook            385
418689  Sun Dec 30 2018 03:25:54 GMT+0000 (UTC)   AlfaBook            385
418690  Sun Dec 30 2018 04:26:06 GMT+0000 (UTC)   AlfaBook            385
418691  Sun Dec 30 2018 05:25:43 GMT+0000 (UTC)   AlfaBook            385
418692  Sun Dec 30 2018 06:25:34 GMT+0000 (UTC)   AlfaBook            385
418693  Sun Dec 30 2018 07:25:09 GMT+0000 (UTC)   AlfaBook            385
418694  Sun Dec 30 2018 08:25:44 GMT+0000 (UTC)   AlfaBook            385
418695  Sun Dec 30 2018 09:26:28 GMT+0000 (UTC)   AlfaBook            385
418696  Sun Dec 30 2018 10:25:50 GMT+0000 (UTC)   AlfaBook            385
418697  Sun Dec 30 2018 11:25:18 GMT+0000 (UTC)   AlfaBook            385
418698  Sun Dec 30 2018 12:25:46 GMT+0000 (UTC)   AlfaBook            385
418699  Sun Dec 30 2018 13:26:01 GMT+0000 (UTC)   AlfaBook            385
418700  Sun Dec 30 2018 14:25:44 GMT+0000 (UTC)   AlfaBook            385
418701  Sun Dec 30 2018 15:26:16 GMT+0000 (UTC)   AlfaBook            405
418702  Sun Dec 30 2018 16:26:05 GMT+0000 (UTC)   AlfaBook            405
418703  Sun Dec 30 2018 17:25:41 GMT+0000 (UTC)   AlfaBook            405
418704  Sun Dec 30 2018 18:24:41 GMT+0000 (UTC)   AlfaBook            360
418705  Sun Dec 30 2018 19:24:49 GMT+0000 (UTC)   AlfaBook            360
418706  Sun Dec 30 2018 20:24:51 GMT+0000 (UTC)   AlfaBook            360
418707  Sun Dec 30 2018 21:24:56 GMT+0000 (UTC)   AlfaBook            395

       Home Moneyline Away Pointspread points  Away Pointspread odds  \
0                -135                     2.5                 -110.0
1                 NaN                       3                 -119.0
2                 NaN                       3                 -110.0
3                 NaN                       3                 -110.0
4                 NaN                       3                 -110.0
5                 NaN                       3                 -110.0
6                 NaN                       3                 -119.0
7                 NaN                       3                 -119.0
8                 NaN                       3                 -119.0
9                 NaN                       3                 -119.0
10                NaN                       3                 -119.0
11                NaN                       3                 -119.0
12               -150                       3                 -119.0
13               -150                       3                 -119.0
14               -150                       3                 -119.0
15               -150                       3                 -119.0
16               -150                       3                 -119.0
17               -150                       3                 -119.0
18               -150                       3                 -119.0
19               -150                       3                 -119.0
20               -150                       3                 -119.0
21               -150                       3                 -119.0
22               -150                       3                 -115.0
23               -150                       3                 -115.0
24               -150                       3                 -115.0
25               -150                       3                 -115.0
26               -150                       3                 -115.0
27               -150                       3                 -115.0
28               -150                       3                 -115.0
29               -150                       3                 -115.0
...               ...                     ...                    ...
418678           -460                      10                 -110.0
418679           -460                      10                 -104.0
418680           -460                      10                 -104.0
418681           -460                      10                 -104.0
418682           -460                      10                 -104.0
418683           -460                      10                 -104.0
418684           -460                      10                 -104.0
418685           -460                      10                 -104.0
418686           -460                      10                 -104.0
418687           -460                      10                 -104.0
418688           -460                      10                 -104.0
418689           -460                      10                 -104.0
418690           -460                      10                 -104.0
418691           -460                      10                 -104.0
418692           -460                    10.5                 -110.0
418693           -460                    10.5                 -108.0
418694           -460                    10.5                 -108.0
418695           -460                    10.5                 -108.0
418696           -460                    10.5                 -108.0
418697           -460                    10.5                 -108.0
418698           -460                    10.5                 -108.0
418699           -460                    10.5                 -108.0
418700           -460                    10.5                 -108.0
418701           -500                    10.5                 -108.0
418702           -500                    10.5                 -108.0
418703           -500                    10.5                 -108.0
418704           -430                    10.5                 -110.0
418705           -430                    10.5                 -110.0
418706           -430                    10.5                 -110.0
418707           -470                    10.5                 -110.0

       Home Pointspread points  Home Pointspread odds  Total points  \
0                         -2.5                 -110.0          45.5
1                           -3                 -101.0          45.5
2                           -3                 -110.0          45.5
3                           -3                 -110.0          45.5
4                           -3                 -110.0          45.5
5                           -3                 -110.0          45.5
6                           -3                 -101.0          45.5
7                           -3                 -101.0          45.5
8                           -3                 -101.0          45.5
9                           -3                 -101.0          45.5
10                          -3                 -101.0          45.5
11                          -3                 -101.0          45.5
12                          -3                 -101.0          45.5
13                          -3                 -101.0          45.5
14                          -3                 -101.0          45.5
15                          -3                 -101.0          45.5
16                          -3                 -101.0          45.5
17                          -3                 -101.0          45.5
18                          -3                 -101.0          45.5
19                          -3                 -101.0          45.5
20                          -3                 -101.0          45.5
21                          -3                 -101.0          45.5
22                          -3                 -105.0          45.5
23                          -3                 -105.0          45.5
24                          -3                 -105.0          45.5
25                          -3                 -105.0          45.5
26                          -3                 -105.0          45.5
27                          -3                 -105.0          45.5
28                          -3                 -105.0          45.5
29                          -3                 -105.0          45.5
...                        ...                    ...           ...
418678                     -10                 -110.0          48.5
418679                     -10                 -116.0          48.5
418680                     -10                 -116.0          48.5
418681                     -10                 -116.0          48.5
418682                     -10                 -116.0          48.5
418683                     -10                 -116.0          48.5
418684                     -10                 -116.0          48.5
418685                     -10                 -116.0          48.5
418686                     -10                 -116.0          48.5
418687                     -10                 -116.0          48.5
418688                     -10                 -116.0          48.5
418689                     -10                 -116.0          48.5
418690                     -10                 -116.0          48.5
418691                     -10                 -116.0          48.5
418692                   -10.5                 -110.0          48.5
418693                   -10.5                 -112.0          48.5
418694                   -10.5                 -112.0          48.5
418695                   -10.5                 -112.0          48.5
418696                   -10.5                 -112.0          48.5
418697                   -10.5                 -112.0          48.5
418698                   -10.5                 -112.0          48.5
418699                   -10.5                 -112.0          48.5
418700                   -10.5                 -112.0          48.5
418701                   -10.5                 -112.0          48.5
418702                   -10.5                 -112.0          49.0
418703                   -10.5                 -112.0          49.0
418704                   -10.5                 -110.0          49.0
418705                   -10.5                 -110.0          49.0
418706                   -10.5                 -110.0          49.0
418707                   -10.5                 -110.0          50.0

        Over odds  Under odds Away Home     Game  Game Number
0          -108.0      -112.0  ATL  PHI  ATL@PHI            1
1          -105.0      -115.0  ATL  PHI  ATL@PHI            1
2          -105.0      -115.0  ATL  PHI  ATL@PHI            1
3          -105.0      -115.0  ATL  PHI  ATL@PHI            1
4          -105.0      -115.0  ATL  PHI  ATL@PHI            1
5          -105.0      -115.0  ATL  PHI  ATL@PHI            1
6          -105.0      -115.0  ATL  PHI  ATL@PHI            1
7          -105.0      -115.0  ATL  PHI  ATL@PHI            1
8          -105.0      -115.0  ATL  PHI  ATL@PHI            1
9          -105.0      -115.0  ATL  PHI  ATL@PHI            1
10         -105.0      -115.0  ATL  PHI  ATL@PHI            1
11         -105.0      -115.0  ATL  PHI  ATL@PHI            1
12         -105.0      -115.0  ATL  PHI  ATL@PHI            1
13         -105.0      -115.0  ATL  PHI  ATL@PHI            1
14         -105.0      -115.0  ATL  PHI  ATL@PHI            1
15         -105.0      -115.0  ATL  PHI  ATL@PHI            1
16         -105.0      -115.0  ATL  PHI  ATL@PHI            1
17         -105.0      -115.0  ATL  PHI  ATL@PHI            1
18         -105.0      -115.0  ATL  PHI  ATL@PHI            1
19         -105.0      -115.0  ATL  PHI  ATL@PHI            1
20         -105.0      -115.0  ATL  PHI  ATL@PHI            1
21         -105.0      -115.0  ATL  PHI  ATL@PHI            1
22         -105.0      -115.0  ATL  PHI  ATL@PHI            1
23         -105.0      -115.0  ATL  PHI  ATL@PHI            1
24         -105.0      -115.0  ATL  PHI  ATL@PHI            1
25         -105.0      -115.0  ATL  PHI  ATL@PHI            1
26         -105.0      -115.0  ATL  PHI  ATL@PHI            1
27         -105.0      -115.0  ATL  PHI  ATL@PHI            1
28         -105.0      -115.0  ATL  PHI  ATL@PHI            1
29         -105.0      -115.0  ATL  PHI  ATL@PHI            1
...           ...         ...  ...  ...      ...          ...
418678     -108.0      -112.0   SF  LAR   SF@LAR          176
418679     -108.0      -112.0   SF  LAR   SF@LAR          176
418680     -108.0      -112.0   SF  LAR   SF@LAR          176
418681     -108.0      -112.0   SF  LAR   SF@LAR          176
418682     -108.0      -112.0   SF  LAR   SF@LAR          176
418683     -108.0      -112.0   SF  LAR   SF@LAR          176
418684     -108.0      -112.0   SF  LAR   SF@LAR          176
418685     -108.0      -112.0   SF  LAR   SF@LAR          176
418686     -108.0      -112.0   SF  LAR   SF@LAR          176
418687     -108.0      -112.0   SF  LAR   SF@LAR          176
418688     -108.0      -112.0   SF  LAR   SF@LAR          176
418689     -108.0      -112.0   SF  LAR   SF@LAR          176
418690     -108.0      -112.0   SF  LAR   SF@LAR          176
418691     -108.0      -112.0   SF  LAR   SF@LAR          176
418692     -108.0      -112.0   SF  LAR   SF@LAR          176
418693     -108.0      -112.0   SF  LAR   SF@LAR          176
418694     -108.0      -112.0   SF  LAR   SF@LAR          176
418695     -108.0      -112.0   SF  LAR   SF@LAR          176
418696     -108.0      -112.0   SF  LAR   SF@LAR          176
418697     -108.0      -112.0   SF  LAR   SF@LAR          176
418698     -108.0      -112.0   SF  LAR   SF@LAR          176
418699     -108.0      -112.0   SF  LAR   SF@LAR          176
418700     -108.0      -112.0   SF  LAR   SF@LAR          176
418701     -108.0      -112.0   SF  LAR   SF@LAR          176
418702     -111.0      -109.0   SF  LAR   SF@LAR          176
418703     -115.0      -105.0   SF  LAR   SF@LAR          176
418704     -115.0      -105.0   SF  LAR   SF@LAR          176
418705     -115.0      -105.0   SF  LAR   SF@LAR          176
418706     -115.0      -105.0   SF  LAR   SF@LAR          176
418707     -110.0      -110.0   SF  LAR   SF@LAR          176

[418708 rows x 15 columns]

In [233]:
sportsbook_data.head()

,Date,Book,Away Moneyline,Home Moneyline,Away Pointspread points,Away Pointspread odds,Home Pointspread points,Home Pointspread odds,Total points,Over odds,Under odds,Away,Home,Game,Game Number
0,Sun Sep 02 2018 15:37:47 GMT+0000 (UTC),AlfaBook,115,-135,2.5,-110.0,-2.5,-110.0,45.5,-108.0,-112.0,ATL,PHI,ATL@PHI,1
1,Thu Aug 30 2018 20:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-119.0,-3,-101.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1
2,Thu Aug 30 2018 21:54:19 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1
3,Thu Aug 30 2018 22:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1
4,Thu Aug 30 2018 23:54:20 GMT+0000 (UTC),BravoBook,NaN,NaN,3,-110.0,-3,-110.0,45.5,-105.0,-115.0,ATL,PHI,ATL@PHI,1

In [234]:
sportsbook_data['timestamp'] =  pd.to_datetime(sportsbook_data.Date.str.slice(0,24), format='%a %b %d %Y %H:%M:%S')
#eastern = pytz.timezone('US/Eastern')
sportsbook_data['timestamp_est'] = pd.DatetimeIndex(sportsbook_data['timestamp']).tz_localize(pytz.utc).tz_convert(eastern)
print(type(sportsbook_data['timestamp']))
print(type(sportsbook_data['timestamp_est']))
print(sportsbook_data.head())

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
                                      Date       Book Away Moneyline  \
0  Sun Sep 02 2018 15:37:47 GMT+0000 (UTC)   AlfaBook            115
1  Thu Aug 30 2018 20:54:20 GMT+0000 (UTC)  BravoBook            NaN
2  Thu Aug 30 2018 21:54:19 GMT+0000 (UTC)  BravoBook            NaN
3  Thu Aug 30 2018 22:54:20 GMT+0000 (UTC)  BravoBook            NaN
4  Thu Aug 30 2018 23:54:20 GMT+0000 (UTC)  BravoBook            NaN

  Home Moneyline Away Pointspread points  Away Pointspread odds  \
0           -135                     2.5                 -110.0
1            NaN                       3                 -119.0
2            NaN                       3                 -110.0
3            NaN                       3                 -110.0
4            NaN                       3                 -110.0

  Home Pointspread points  Home Pointspread odds  Total points  Over odds  \
0                    -2.5                 -110.0          45.5     -108.0
1                      -3                 -101.0          45.5     -105.0
2                      -3                 -110.0          45.5     -105.0
3                      -3                 -110.0          45.5     -105.0
4                      -3                 -110.0          45.5     -105.0

   Under odds Away Home     Game  Game Number           timestamp  \
0      -112.0  ATL  PHI  ATL@PHI            1 2018-09-02 15:37:47
1      -115.0  ATL  PHI  ATL@PHI            1 2018-08-30 20:54:20
2      -115.0  ATL  PHI  ATL@PHI            1 2018-08-30 21:54:19
3      -115.0  ATL  PHI  ATL@PHI            1 2018-08-30 22:54:20
4      -115.0  ATL  PHI  ATL@PHI            1 2018-08-30 23:54:20

              timestamp_est
0 2018-09-02 11:37:47-04:00
1 2018-08-30 16:54:20-04:00
2 2018-08-30 17:54:19-04:00
3 2018-08-30 18:54:20-04:00
4 2018-08-30 19:54:20-04:00

In [235]:
export_path = r'C:\Users\benny\OneDrive\Machine Learning\ML1030\Final Project\Final Project'
sportsbook_data.to_csv(export_path+"\\sportsbook_data.csv")

In [236]:
sportsbook_data_ALL =  pd.merge(sportsbook_data, nfl_game_schedule, on='Game', how='inner')

In [237]:
sportsbook_data_ALL['Pre-Game'] = ""
sportsbook_data_ALL['Pre-Game'] =  sportsbook_data_ALL['timestamp_est'][:] < sportsbook_data_ALL['Game Time'][:]
print(sportsbook_data_ALL.head())
export_path = r'C:\Users\benny\OneDrive\Machine Learning\ML1030\Final Project\Final Project'
sportsbook_data_ALL.to_csv(export_path+"\\sportsbook_data_ALL.csv")

                                    Date_x       Book Away Moneyline  \
0  Sun Sep 02 2018 15:37:47 GMT+0000 (UTC)   AlfaBook            115
1  Thu Aug 30 2018 20:54:20 GMT+0000 (UTC)  BravoBook            NaN
2  Thu Aug 30 2018 21:54:19 GMT+0000 (UTC)  BravoBook            NaN
3  Thu Aug 30 2018 22:54:20 GMT+0000 (UTC)  BravoBook            NaN
4  Thu Aug 30 2018 23:54:20 GMT+0000 (UTC)  BravoBook            NaN

  Home Moneyline Away Pointspread points  Away Pointspread odds  \
0           -135                     2.5                 -110.0
1            NaN                       3                 -119.0
2            NaN                       3                 -110.0
3            NaN                       3                 -110.0
4            NaN                       3                 -110.0

  Home Pointspread points  Home Pointspread odds  Total points  Over odds  \
0                    -2.5                 -110.0          45.5     -108.0
1                      -3                 -101.0          45.5     -105.0
2                      -3                 -110.0          45.5     -105.0
3                      -3                 -110.0          45.5     -105.0
4                      -3                 -110.0          45.5     -105.0

    ...     YdsW TOW YdsL TOL               Home_y Home_abbr           Away_y  \
0   ...      232   2  299   1  Philadelphia Eagles       PHI  Atlanta Falcons
1   ...      232   2  299   1  Philadelphia Eagles       PHI  Atlanta Falcons
2   ...      232   2  299   1  Philadelphia Eagles       PHI  Atlanta Falcons
3   ...      232   2  299   1  Philadelphia Eagles       PHI  Atlanta Falcons
4   ...      232   2  299   1  Philadelphia Eagles       PHI  Atlanta Falcons

   Away_abbr                 Game Time Pre-Game
0        ATL 2018-09-06 20:20:00-04:00     True
1        ATL 2018-09-06 20:20:00-04:00     True
2        ATL 2018-09-06 20:20:00-04:00     True
3        ATL 2018-09-06 20:20:00-04:00     True
4        ATL 2018-09-06 20:20:00-04:00     True

[5 rows x 37 columns]