In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
from pytz import timezone
import pytz
import glob
import os
import re

In [3]:
nfl_games_juice_file = r'C:\Users\benny\OneDrive\Machine Learning\ML1030\Final Project\Final Project\sportsbook_data_ALL_with_Juice.csv'
nfl_games_juice_df = pd.read_csv(nfl_games_juice_file)

C:\Users\benny\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5,6,7,9,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
game_time_str = nfl_games_juice_df.loc[:,'Game Time']
game_time_str = game_time_str.str.slice(0,19)
timestamp_str = nfl_games_juice_df.loc[:,'timestamp_est']
timestamp_str = timestamp_str.str.slice(0,19)

print(game_time_str)
print(timestamp_str)

0         2018-09-06 20:20:00
1         2018-09-06 20:20:00
2         2018-09-06 20:20:00
3         2018-09-06 20:20:00
4         2018-09-06 20:20:00
5         2018-09-06 20:20:00
6         2018-09-06 20:20:00
7         2018-09-06 20:20:00
8         2018-09-06 20:20:00
9         2018-09-06 20:20:00
10        2018-09-06 20:20:00
11        2018-09-06 20:20:00
12        2018-09-06 20:20:00
13        2018-09-06 20:20:00
14        2018-09-06 20:20:00
15        2018-09-06 20:20:00
16        2018-09-06 20:20:00
17        2018-09-06 20:20:00
18        2018-09-06 20:20:00
19        2018-09-06 20:20:00
20        2018-09-06 20:20:00
21        2018-09-06 20:20:00
22        2018-09-06 20:20:00
23        2018-09-06 20:20:00
24        2018-09-06 20:20:00
25        2018-09-06 20:20:00
26        2018-09-06 20:20:00
27        2018-09-06 20:20:00
28        2018-09-06 20:20:00
29        2018-09-06 20:20:00
                 ...
418678    2018-12-30 16:25:00
418679    2018-12-30 16:25:00
418680    2018-12-30 16:25:00
418681    2018-12-30 16:25:00
418682    2018-12-30 16:25:00
418683    2018-12-30 16:25:00
418684    2018-12-30 16:25:00
418685    2018-12-30 16:25:00
418686    2018-12-30 16:25:00
418687    2018-12-30 16:25:00
418688    2018-12-30 16:25:00
418689    2018-12-30 16:25:00
418690    2018-12-30 16:25:00
418691    2018-12-30 16:25:00
418692    2018-12-30 16:25:00
418693    2018-12-30 16:25:00
418694    2018-12-30 16:25:00
418695    2018-12-30 16:25:00
418696    2018-12-30 16:25:00
418697    2018-12-30 16:25:00
418698    2018-12-30 16:25:00
418699    2018-12-30 16:25:00
418700    2018-12-30 16:25:00
418701    2018-12-30 16:25:00
418702    2018-12-30 16:25:00
418703    2018-12-30 16:25:00
418704    2018-12-30 16:25:00
418705    2018-12-30 16:25:00
418706    2018-12-30 16:25:00
418707    2018-12-30 16:25:00
Name: Game Time, Length: 418708, dtype: object
0         2018-09-02 11:37:47
1         2018-08-30 16:54:20
2         2018-08-30 17:54:19
3         2018-08-30 18:54:20
4         2018-08-30 19:54:20
5         2018-08-30 20:54:20
6         2018-08-31 09:54:19
7         2018-08-31 10:54:19
8         2018-08-31 11:54:20
9         2018-08-31 12:54:21
10        2018-08-31 13:54:20
11        2018-08-31 14:54:20
12        2018-08-31 15:54:19
13        2018-08-31 16:54:20
14        2018-08-31 17:54:20
15        2018-08-31 18:54:20
16        2018-08-31 19:54:21
17        2018-08-31 20:54:20
18        2018-08-31 21:54:20
19        2018-08-31 22:54:20
20        2018-08-31 23:54:19
21        2018-09-01 00:54:19
22        2018-09-01 01:54:19
23        2018-09-01 02:54:19
24        2018-09-01 03:54:19
25        2018-09-01 04:54:19
26        2018-09-01 05:54:19
27        2018-09-01 06:54:19
28        2018-09-01 07:54:19
29        2018-09-01 08:54:19
                 ...
418678    2018-12-29 11:25:45
418679    2018-12-29 12:26:17
418680    2018-12-29 13:25:30
418681    2018-12-29 14:26:03
418682    2018-12-29 15:25:36
418683    2018-12-29 16:25:43
418684    2018-12-29 17:25:59
418685    2018-12-29 18:25:39
418686    2018-12-29 19:25:44
418687    2018-12-29 20:26:05
418688    2018-12-29 21:25:49
418689    2018-12-29 22:25:54
418690    2018-12-29 23:26:06
418691    2018-12-30 00:25:43
418692    2018-12-30 01:25:34
418693    2018-12-30 02:25:09
418694    2018-12-30 03:25:44
418695    2018-12-30 04:26:28
418696    2018-12-30 05:25:50
418697    2018-12-30 06:25:18
418698    2018-12-30 07:25:46
418699    2018-12-30 08:26:01
418700    2018-12-30 09:25:44
418701    2018-12-30 10:26:16
418702    2018-12-30 11:26:05
418703    2018-12-30 12:25:41
418704    2018-12-30 13:24:41
418705    2018-12-30 14:24:49
418706    2018-12-30 15:24:51
418707    2018-12-30 16:24:56
Name: timestamp_est, Length: 418708, dtype: object

In [32]:
game_time_date = pd.to_datetime(game_time_str, format='%Y-%m-%d %H:%M:%S')
timestamp_date = pd.to_datetime(timestamp_str, format='%Y-%m-%d %H:%M:%S')
print(game_time_date)
print(timestamp_date)

0        2018-09-06 20:20:00
1        2018-09-06 20:20:00
2        2018-09-06 20:20:00
3        2018-09-06 20:20:00
4        2018-09-06 20:20:00
5        2018-09-06 20:20:00
6        2018-09-06 20:20:00
7        2018-09-06 20:20:00
8        2018-09-06 20:20:00
9        2018-09-06 20:20:00
10       2018-09-06 20:20:00
11       2018-09-06 20:20:00
12       2018-09-06 20:20:00
13       2018-09-06 20:20:00
14       2018-09-06 20:20:00
15       2018-09-06 20:20:00
16       2018-09-06 20:20:00
17       2018-09-06 20:20:00
18       2018-09-06 20:20:00
19       2018-09-06 20:20:00
20       2018-09-06 20:20:00
21       2018-09-06 20:20:00
22       2018-09-06 20:20:00
23       2018-09-06 20:20:00
24       2018-09-06 20:20:00
25       2018-09-06 20:20:00
26       2018-09-06 20:20:00
27       2018-09-06 20:20:00
28       2018-09-06 20:20:00
29       2018-09-06 20:20:00
                 ...
418678   2018-12-30 16:25:00
418679   2018-12-30 16:25:00
418680   2018-12-30 16:25:00
418681   2018-12-30 16:25:00
418682   2018-12-30 16:25:00
418683   2018-12-30 16:25:00
418684   2018-12-30 16:25:00
418685   2018-12-30 16:25:00
418686   2018-12-30 16:25:00
418687   2018-12-30 16:25:00
418688   2018-12-30 16:25:00
418689   2018-12-30 16:25:00
418690   2018-12-30 16:25:00
418691   2018-12-30 16:25:00
418692   2018-12-30 16:25:00
418693   2018-12-30 16:25:00
418694   2018-12-30 16:25:00
418695   2018-12-30 16:25:00
418696   2018-12-30 16:25:00
418697   2018-12-30 16:25:00
418698   2018-12-30 16:25:00
418699   2018-12-30 16:25:00
418700   2018-12-30 16:25:00
418701   2018-12-30 16:25:00
418702   2018-12-30 16:25:00
418703   2018-12-30 16:25:00
418704   2018-12-30 16:25:00
418705   2018-12-30 16:25:00
418706   2018-12-30 16:25:00
418707   2018-12-30 16:25:00
Name: Game Time, Length: 418708, dtype: datetime64[ns]
0        2018-09-02 11:37:47
1        2018-08-30 16:54:20
2        2018-08-30 17:54:19
3        2018-08-30 18:54:20
4        2018-08-30 19:54:20
5        2018-08-30 20:54:20
6        2018-08-31 09:54:19
7        2018-08-31 10:54:19
8        2018-08-31 11:54:20
9        2018-08-31 12:54:21
10       2018-08-31 13:54:20
11       2018-08-31 14:54:20
12       2018-08-31 15:54:19
13       2018-08-31 16:54:20
14       2018-08-31 17:54:20
15       2018-08-31 18:54:20
16       2018-08-31 19:54:21
17       2018-08-31 20:54:20
18       2018-08-31 21:54:20
19       2018-08-31 22:54:20
20       2018-08-31 23:54:19
21       2018-09-01 00:54:19
22       2018-09-01 01:54:19
23       2018-09-01 02:54:19
24       2018-09-01 03:54:19
25       2018-09-01 04:54:19
26       2018-09-01 05:54:19
27       2018-09-01 06:54:19
28       2018-09-01 07:54:19
29       2018-09-01 08:54:19
                 ...
418678   2018-12-29 11:25:45
418679   2018-12-29 12:26:17
418680   2018-12-29 13:25:30
418681   2018-12-29 14:26:03
418682   2018-12-29 15:25:36
418683   2018-12-29 16:25:43
418684   2018-12-29 17:25:59
418685   2018-12-29 18:25:39
418686   2018-12-29 19:25:44
418687   2018-12-29 20:26:05
418688   2018-12-29 21:25:49
418689   2018-12-29 22:25:54
418690   2018-12-29 23:26:06
418691   2018-12-30 00:25:43
418692   2018-12-30 01:25:34
418693   2018-12-30 02:25:09
418694   2018-12-30 03:25:44
418695   2018-12-30 04:26:28
418696   2018-12-30 05:25:50
418697   2018-12-30 06:25:18
418698   2018-12-30 07:25:46
418699   2018-12-30 08:26:01
418700   2018-12-30 09:25:44
418701   2018-12-30 10:26:16
418702   2018-12-30 11:26:05
418703   2018-12-30 12:25:41
418704   2018-12-30 13:24:41
418705   2018-12-30 14:24:49
418706   2018-12-30 15:24:51
418707   2018-12-30 16:24:56
Name: timestamp_est, Length: 418708, dtype: datetime64[ns]

In [38]:
diff = (game_time_date - timestamp_date).astype('timedelta64[h]')
print(diff)
nfl_games_juice_df['Hours To Game'] = diff

0         104.0
1         171.0
2         170.0
3         169.0
4         168.0
5         167.0
6         154.0
7         153.0
8         152.0
9         151.0
10        150.0
11        149.0
12        148.0
13        147.0
14        146.0
15        145.0
16        144.0
17        143.0
18        142.0
19        141.0
20        140.0
21        139.0
22        138.0
23        137.0
24        136.0
25        135.0
26        134.0
27        133.0
28        132.0
29        131.0
          ...
418678     28.0
418679     27.0
418680     26.0
418681     25.0
418682     24.0
418683     23.0
418684     22.0
418685     21.0
418686     20.0
418687     19.0
418688     18.0
418689     17.0
418690     16.0
418691     15.0
418692     14.0
418693     13.0
418694     12.0
418695     11.0
418696     10.0
418697      9.0
418698      8.0
418699      7.0
418700      6.0
418701      5.0
418702      4.0
418703      3.0
418704      3.0
418705      2.0
418706      1.0
418707      0.0
Length: 418708, dtype: float64

In [47]:
nfl_games_juice_hours_df = nfl_games_juice_df[['Book','Away Moneyline','Home Moneyline','Away Pointspread points','Away Pointspread odds','Home Pointspread points','Home Pointspread odds','Total points','Over odds','Under odds','Away_x','Home_x','Game','Game Number','timestamp_est','Winner/tie','Loser/tie','PtsW','PtsL','YdsW','TOW','YdsL','TOL','Home_y','Away_y','Game Time','Pre-Game','Juice Moneyline','Juice Pointspread','Juice Total','Hours To Game']]
print(nfl_games_juice_hours_df.head())

        Book Away Moneyline Home Moneyline Away Pointspread points  \
0   alfabook            115           -135                     2.5
1  bravobook            NaN            NaN                       3
2  bravobook            NaN            NaN                       3
3  bravobook            NaN            NaN                       3
4  bravobook            NaN            NaN                       3

   Away Pointspread odds Home Pointspread points  Home Pointspread odds  \
0                 -110.0                    -2.5                 -110.0
1                 -119.0                      -3                 -101.0
2                 -110.0                      -3                 -110.0
3                 -110.0                      -3                 -110.0
4                 -110.0                      -3                 -110.0

   Total points  Over odds  Under odds      ...       YdsL TOL  \
0          45.5     -108.0      -112.0      ...        299   1
1          45.5     -105.0      -115.0      ...        299   1
2          45.5     -105.0      -115.0      ...        299   1
3          45.5     -105.0      -115.0      ...        299   1
4          45.5     -105.0      -115.0      ...        299   1

                Home_y           Away_y                  Game Time Pre-Game  \
0  Philadelphia Eagles  Atlanta Falcons  2018-09-06 20:20:00-04:00     True
1  Philadelphia Eagles  Atlanta Falcons  2018-09-06 20:20:00-04:00     True
2  Philadelphia Eagles  Atlanta Falcons  2018-09-06 20:20:00-04:00     True
3  Philadelphia Eagles  Atlanta Falcons  2018-09-06 20:20:00-04:00     True
4  Philadelphia Eagles  Atlanta Falcons  2018-09-06 20:20:00-04:00     True

  Juice Moneyline  Juice Pointspread  Juice Total  Hours To Game
0        3.807711           4.545455     4.537582          104.0
1             NaN           4.385508     4.496208          171.0
2             NaN           4.545455     4.496208          170.0
3             NaN           4.545455     4.496208          169.0
4             NaN           4.545455     4.496208          168.0

[5 rows x 31 columns]

In [48]:
export_path = r'C:\Users\benny\OneDrive\Machine Learning\ML1030\Final Project\Final Project'
nfl_games_juice_hours_df.to_csv(export_path+"\\sportsbook_data_ALL_with_Juice_Hours.csv")